  


<!-- About page -->
<div class="container" >

    <table>
      <tbody>
        <!-- Page intro  -->
        <tr><td colspan="2" class="hd1">About Me</td></tr>
        <tr><td colspan="2"><img class="text-center" src="Assets\images\icon2.png"></img></td></tr>
        <tr><td colspan="2" class="hd3">YuKit Tam (Lester)</td></tr>
        <tr><td colspan="2" class="tx1">Hi, my name is YuKit Tam but please call me Lester. 

        <!-- Main message  -->
          <p>
          I am an accomplished IT professional with over 20 years of solid industry experience, including ten years in a top-tier global commercial bank and five years in an industry leader airline in Hong Kong.
          Specialized in software development & design and with in-depth knowledge of the complete life cycle of the software development process in both waterfall and agile approaches.
         I also have extensive experience in global team member mentoring, building, and collaboration. 
         <p>
         My motto on software design and development is always to make sure you fully understand the problem you will solve before jumping to design & development. Trust me, I learned it the hard way, <a class="a2" href="contact"> ping me</a>, and I am happy to share my story.
        </td></tr>


        
        <!-- link to CV  -->
        <tr><td colspan="2"><a href="Assets\docs\Lester Tam Yu Kit CV_2021.pdf" class="a1">My full Resume</a></td></tr>



      </tbody>
    </table>


</div>

