

<!-- Home page-->  
  
<div class="container" >

    <table>
      <tbody>
        <tr><td colspan="2" class="hd1">Welcome to</td></tr>
        <tr><td colspan="2" class="hd2">Lester's</td></tr>
        <tr><td colspan="2" class="hd2">personal page</td></tr>

        <tr class=><td colspan="2" class="quote">
        Talk to one user… start jumping to a solution. Talk to 5+ users… start understanding the problem.
        <br>
        — Luke Wroblewski
        </td></tr>

        <!-- Link to about page-->  
        <tr><td><a href="about" class="a1">About Me</a></td><td><a href="contact" class="a1">Contact Me</a></td></tr>



      </tbody>
    </table>


</div>



