





<!-- Main Navigation bar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" background-color="#92a8d1" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- icon image-->
      <a class="navbar-brand" href="home"><span><img class="icon" src="Assets\images\site_icon2.gif"></img></span>ester Tam </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- main nav links-->
      <ul class="nav navbar-nav">
        <li  <% if (title=="Home") { %>  class="active"  <% } %> ><a href="\home">Home</a></li>
        <li  <% if (title=="About") { %>  class="active"  <% } %> ><a href="\about">About Me</a></li>
        <li  <% if (title=="Projects") { %>  class="active"  <% } %> ><a href="\projects">Projects</a></li>
        <li  <% if (title=="Services") { %>  class="active"  <% } %> ><a href="\services">Services</a></li>
        <li  <% if (title=="BusinessContacts") { %>  class="active"  <% } %> ><a href="\businessContacts">Business Contacts</a></li>
        <li  <% if (title=="Contact") { %>  class="active"  <% } %> ><a href="\contact"><span><img class="icon" src="\Assets\images\icon2.png"></img></span> Contact Me</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (displayName) {%>}
        <li><a href='\logout'> Log out (<%=displayName%>) </a></li>
        <% } else { %>
        <li><a href='\login'> Log in </a></li>
        <% } %>
        
      </ul>
    </div>
  </div>
</nav>



