

<!-- Proejcts  page -->  
<div class="container" >
  <p class="hd1">
  Projects
  </p>


  <!-- First Proejct  -->  
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <p>
        <span  class="hd4">iWarranty</span>
        <span class="tx3">Cathay Pacific(Hong Kong) - 2020</span>
        </p>
      </div>
      
      
      <div class="d-flex w-100 justify-content-between">
        <span class ="tx2">The Problem</span>
        <br>
        <span class="tx4">As an industry-leading airline, Cathay processed several hundred aircraft around the world, with most of the maintenance work already outsourced to 3rd party, there are lots of contracts and warranty claim issues happening every day. Late submission of the claims could lead to financial loss. A system is required to manage and monitor claims.</span>

      </div>
      <br><br>
      <div class="d-flex w-100 justify-content-between">
        <span class ="tx2">The Solution</span>
        <br>
        <span class="tx4">
          Due to the below factor, the Microsoft powerapp platform was selected to build a simple web-based application as the solution.
          <br>- User base is small (less than ten people)
          <br>- There are potential financial losses every day; a quick solution is required.
          <br>- The business logic involved is relatively simple.
          </span>
      </div>
      <br><br>
      <div class="d-flex w-100 justify-content-between">
          <span class ="tx2">My role in this project</span>
          <br>
          <span class="tx4">
            <br>- System Analyst 
            <br>- Technical lead
            <br>- Scrum Master

            </span>

      </div>
      <div class="d-flex w-100 justify-content-between">

      <img class="img1" src="Assets\images\iWarranty.jpg"></img>
      </div>
    </a>

<!-- 2nd Proejct  -->      
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <p>
        <span  class="hd4">Technical Publication Management System</span>
        <span class="tx3">Cathay Pacific(Hong Kong) - 2019</span>
        </p>
      </div>
      
      
      <div class="d-flex w-100 justify-content-between">
        <span class ="tx2">The Problem</span>
        <br>
        <span class="tx4">
        On and off, there will be lots of technical manuals received from different vendors (Airbus, being, etc.).
A system is needed to:<br>

- Keep track of the versions of the menu<br>
- Make sure our field engineers and business partners have the latest version of the manual at hand.
        </span>

      </div>
      <br><br>
      <div class="d-flex w-100 justify-content-between">
        <span class ="tx2">The Solution</span>
        <br>
        <span class="tx4">
          The size and complexity are similar to iWarranty, but as it may require access for non-Cathay users, we should not use the MS powerapp platform as there will be license issues.
          <br>
          A traditional Node, JS/MySQL approach is more suitable for this situation.
          </span>
      </div>
      <br><br>
      <div class="d-flex w-100 justify-content-between">
          <span class ="tx2">My role in this project</span>
          <br>
          <span class="tx4">
            <br>- System Analyst 
            <br>- Technical lead
            <br>- Scrum Master
            </span>
      </div>
      <div class="d-flex w-100 justify-content-between">

      <img class="img1" src="Assets\images\tpms.jpg"></img>
      </div>
    </a>


    <!-- 3rd Proejct  -->  
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <p>
        <span  class="hd4">Cost Adjustment Tracking</span>
        <span class="tx3">Cathay Pacific(Hong Kong) - 2021</span>
        </p>
      </div>
      
      
      <div class="d-flex w-100 justify-content-between">
        <span class ="tx2">The Problem</span>
        <br>
        <span class="tx4">
          Besides the standard system interface to transfer financial data from our aviation maintenance and logistics system to SAP, ad hoc adjustments need to be made. 
          <br>
          Currently, the details and discussion of those adjustments are commutated by email. Unfortunately, this is unofficial and hard to trace; a system is required to standardized the process of ad hoc adjustments.
          </span>

      </div>
      <br><br>
      <div class="d-flex w-100 justify-content-between">
        <span class ="tx2">The Solution</span>
        <br>
        <span class="tx4">
          Due to the complexity of the financial logic need to be build and the performance requirement, a flexible and powerful platform is required.
          <br>
          This system should be build in ‪Java Spring Boot/MySql combo and hosted in AWS platform for auto scaling and resilience.
          </span>
      </div>
      <br><br>
      <div class="d-flex w-100 justify-content-between">
          <span class ="tx2">My role in this project</span>
          <br>
          <span class="tx4">
            <br>- System Analyst 
            <br>- Technical lead
            <br>- Scrum Master

            </span>

      </div>
      <div class="d-flex w-100 justify-content-between">

      <img class="img1" src="Assets\images\CAT_app_flow_0.3_small.jpg"></img>
      </div>
      



    </a>
  </div>

</div>

