
<!-- Contact page-->  

<div class="container" >
  
<p>
  <h2 class="hd2">My Contact </h3>
</p>
<p>
  <h3 class="hd4">Lester Tam</h3> 
</p>



<!-- List of contact methods-->  
<table class="table table-hover table-dark">
    <tbody>
      <tr>
        <td>Email</td>
        <td> </td>
        <td>ytam10@my.centennialcollege.ca</td>
      </tr>
      <tr>
        
        <td>Phone</td>
        <td> </td>
        <td>+852 96251440</td>
      </tr>
      <tr>
        
        <td >Site</td>
        <td> </td>
        <td>lester.somewhere.com</td>
      </tr>
    </tbody>
  </table>
  
</div>



