
<!-- Services page  -->    

<div class="container" >
  <p class="hd1">
  Services
  </p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading hd3">Here are the services I can provide</div>


<!-- List of servers  -->    
  <div class="list-group" style="background-color:white;" >
    <li  class="h4" >  Scrum Team Building</li>
    <li  class="h4" >  Solution Analysis</li>
    <li  class="h4" >  Software Design & development</li>
  </div>
    
    

<!-- List of tech  -->    
  <div class="panel panel-default">
    <div class="panel-heading hd3">Technologies and Capabilities</div>
    <div class="panel-body">
      <p class="h4">Programing languages/ Platforms</p>
    </div>
    <table class="table">
      <tr style="background-color: aliceblue;">
        <td><img class="img2" src="Assets\images\nodeJs.png"></img></td>
        <td><img class="img2" src="Assets\images\python.png"></img</td>
        <td><img class="img2" src="Assets\images\spring-boot.jpg"></img</td>
        <td><img class="img2" src="Assets\images\powerapp.png"></img></td>
        <td><img class="img2" src="Assets\images\java.png"></img></td>
      </tr>
    </table>

    <div class="panel-body">
      <p class="h4">Database</p>
    </div>

    <table class="table">
      <tr style="background-color: aliceblue;">
        <td><img class="img2" src="Assets\images\postgreSQL.png"></img></td>
        <td><img class="img2" src="Assets\images\mySQL.png"></img</td>
        <td><img class="img2" src="Assets\images\oracle.png"></img</td>
        <td><img class="img2" src="Assets\images\microsoft-sql-server-logo-svgrepo-com.svg"></img></td>
      </tr>
    </table>  


    <div class="panel-body">
      <p class="h4">Other certification</p>
    </div>

    <table class="table">
      <tr style="background-color: aliceblue;">
        <td><img class="img2" src="Assets\images\csm.jpg"></img></td>
        <td><img class="img2" src="Assets\images\AWS-SolArchitect-Associate-2020.png"></img</td>
        
      </tr>
    </table>  

</div>



