<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  
<div class="container" >
  <br/><br/><br/>
  <h2>Welcome to </h3>
  <br/><br/>
  <h3>Lester Tam's</h3>
    <h3>personal page</h3>
  
</div>

</body>
</html>
